<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission
        android:name="android.permission.GET_TOP_ACTIVITY_INFO"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parentalcontrolapp"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="tiramisu">
        <activity
            android:name=".activities.stacking.UnlockActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ActivityLogActivity"
            android:exported="false" />
        <activity
            android:name=".activities.stacking.LockActivity"
            android:exported="false" />
        <activity
            android:name=".activities.websiteFilter.WebsiteFilterAddActivity"
            android:exported="false" />
        <activity
            android:name=".activities.websiteFilter.WebsiteFilterActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBwIRSlo6KtO7iXky3O8_PvpKWpGJNcXiI" />

        <activity
            android:name=".activities.notifications.NotificationPackageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.sms.SmsMessageActivity"
            android:exported="false"
            android:label="@string/title_activity_parent_child_sms_message"
            android:theme="@style/Theme.Parentalcontrolapp" />
        <activity
            android:name=".activities.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.notifications.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.sms.SmsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ScreenTimeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BlockedAppsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.parent.ParentChildAppsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.parent.ParentChildFeaturesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.stacking.BlockActivity"
            android:exported="false" />
        <activity
            android:name=".activities.parent.ParentMainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.children.ChildrenMainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GoogleOAuthActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StartupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.children.ChildrenAppsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Parentalcontrolapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.AppBlockerService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO" />
        <service
            android:name=".service.PhoneLockerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.AppNotificationListenerService"
            android:exported="true"
            android:label="Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.WebViewAccessibilityService"
            android:enabled="true"
            android:exported="false"
            android:label="Web View Accessibility Service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/web_view_config" />
        </service>

        <receiver
            android:name=".broadcast.receivers.SMSReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>